<h1> My Task </h1>

<ul>
  <div class="task_item">
  <% @tasks.each do |task|  %>
    <% if task.completed %>
      <li><input type="checkbox" checked ><%= link_to "#{task.title}", task_path(task.id)%>
        <%= link_to "Delete",
            task_path(task.id),
            method: :delete,
            data: { confirm: "Are you sure?",
            class: "btn-delete" } %>
      </li>
    <% else %>
      <li><input type="checkbox" ><%= link_to "#{task.title}", task_path(task.id)  %>
          <%= link_to "Delete",
            task_path(task.id),
            method: :delete,
            data: { confirm: "Are you sure?" },
            class: "btn-delete" %>
      </li>
    <% end %>

  <% end %>

  </div>
</ul>

<%= link_to "Add a new task", tasks_new_path, class: "btn btn-flat"  %>
